@import url('https://fonts.googleapis.com/css2?family=Abel:wght@400;500;600;700&display=swap');

.container {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 300px;
  margin: auto;
  padding: 20px;
  border: 2px solid #797979;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: #000 2px 2px 5px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text {
  color: #000;
  font-size: 32px;
}

.underline {
  width: 70px;
  height: 2px;
  background-color: #333;
  margin: 10px auto;
}

.Inputs {
  margin-bottom: 20px;
}

.Input {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.Input img {
  width: 20px;
  margin-right: 10px;
}

input[type='text'],
input[type='password'] {
  font-family: 'Abel', sans-serif;
  width: calc(100% - 30px);
  padding: 10px;
  border: 1px solid #797979;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000;
}

.submit {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.register{
  color: inherit;
  width: 50%;
  left: 50%;
  transform: translate(50%, 90%);
  margin: 0 auto;
  padding: 0px;
  border: none;
  border-radius: 15px;
  background-color:transparent;
  color: black;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.login {
  text-align: center;
}

.login a {
  color: #333;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}
